<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Tham quan bảo tàng online <br>Bạn đã thử chưa ?</h1>
      <h2></h2>
      <a href="/mauvat/show" class="btn-get-started">Cùng đi tham quan nào</a>
    </div>
  </section><!-- End Hero -->